<div class="container">
	<div class="row" style="margin-top: 50px">
		<div class="col-6 card mr-3">
			<div class="row card-header"><h2>Admin Lounge</h2></div><br>
			<div class="card-body">
				<p>Welcome to Admin Lounge. Please enjoy your stay.</p>
				<hr />
			</div>
		</div>
		<div class="col-4 card">
			<div class="row card-header"><h4>Links</h4></div><br>
			<div class="card-body">
				<ul class="list-group">
					<li class="list-group-item list-group-item-light"><%= link_to "Users", admin_users_path %></li>
					<li class="list-group-item list-group-item-light"><%= link_to "States", admin_states_path %></li>
				</ul>
			</div>
		</div>

	</div>
</div>
