<%= simple_form_for project, :url => admin_projects_path, :method => :post  do |f| %>
	
	<div class="form-inputs">	
		<%= f.input :name %>
		
		<%= f.input :description %> 
	</div>
	<div class="form-actions">
        <%= f.button :submit, class: "btn btn-primary" %>
    </div>
	
<% end %>
