<div id="ticket">
	<h1><%= @project.name %></h1>

	<h2><%= @ticket.name %></h2><br>
	<p>
		<%= simple_format(@ticket.description) %>
	</p>

	<ul class="actions">
		<li>
			<%= link_to "Edit Ticket", [:edit, @project, @ticket]%>
		</li>
	</ul>
</div>