<div class="container ">
  <div class="row justify-content-md-center" style="margin-top: 50px; margin-bottom: 100px">
    <div class="col col-md-5 col-lg-5 card w-75">

      <div class="row card-header"><h2><i class="fa fa-pencil" aria-hidden="true"></i>Edit Project</h2></div><br>

      <div class="card-body">
      	<%= render "form", project: @project %>
      </div>
    </div>
  </div>
</div>


