<div class="container">
	<div class="row" style="margin-top: 50px">
		<div class="col card">
			<div class="row card-header"><h2><i class="fa fa-paper-plane" aria-hidden="true"></i> Projects</h2></div>
			<div class="card-body">
				<div id = "projects">
					<% @projects.each do |project| %>
						<div class="card" style="margin-top: 10px">
							<div class="card-header"><h3><%= link_to project.name, project, style: "text-decoration: none;" %></h3></div>
							<div class="card-body"><p><%= project.description %></p></div>
						</div>
					<% end %>
				</div>				
			</div>
		</div>
	</div>
</div>

