<h1>Users</h1>

<ul>
	<li>
		<%= link_to "New User", new_admin_user_path %>
	</li>


</ul>

<br><br>

<ul>
	<% @users.each do |user| %>
		<li><%= link_to user.email, [:admin, user] %></li>
	<% end %>

</ul>