<h1>Users</h1>

<ul>
	<li>
		<%= link_to "New User", new_admin_user_path %>
	</li>


</ul>

<br><br>

<ul>
	<% @users.each do |user| %>
		<!-- Since we have not linked any specific attribute 
			so, here ruby will call to_s method which would return the address of the object is does'nt know what to print as string
			So, we have overriden the method to_s in user model to tell ruby what to print as a string.
		-->
		<li><%= link_to user, [:admin, user] %></li>
	<% end %>

</ul>