<div class="container ">
	<div class="row justify-content-md-center" style="margin-top: 50px; margin-bottom: 100px"">
		<div class="col-5 card w-75">

			<div class="row card-header"><h2>New User</h2></div><br>

			<div class="card-body">
				<%= render 'form', user: @user, projects: @projects %>
			</div>
		</div>
	</div>
</div>


                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        